<!DOCTYPE html>
<html lang="en">

<head>
    <title>Turn on 2-factor authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

<%- include('partials/navbar.ejs', { login: loggedIn, username, pageName: '2factorVerify' })%>

<div class="container mt-3">
    <%- include('partials/message.ejs', { alerting, message }) %>
    <h2>One more step</h2>
    <h5>We just want to make sure that it's really you</h5>
    <form action="/account/verify2factor" method="post">
        <div class="mb-3 mt-3">
            <label class="form-label" for="verify2fact">Enter the code shown in your app</label>
            <input id="verify2fact" class="form-control" name="code" type="number">
            <div class="form-text">
                This should be a 6-digit code.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Verify</button>
    </form>
</div>

</body>
</html>
